# .coveragerc to control coverage.py
[run]
branch = False
omit =
    demo/*
    test/*
    main.py
    __init__.py
    calculate_anything/appdirs.py


[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

ignore_errors = False

[html]
directory = cover/html/

[xml]
output = cover/xml/coverage.xml